.about-text {
    color: rgb(254, 254, 255);
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.prgrf-text {
    color: rgb(203, 203, 241);
    font-size: 25px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}