.custom-navbar {
  background-color: rgb(41, 64, 85);
  padding-bottom: 30px;
}

.custom {
  color: #ff950a;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;

}

.nav-link {
  color: #0690eb;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
 
}

.custom-navbar {
  color: #000;
}

.custom-navbar .custom-text:hover {
  color: #d080e9;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.custom-text {
  font-size: 25px;
  text-decoration: none;
  color: #ebecf1;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.spr-text {
  font-style: italic;
  font-size: 50px;
  color: #3552e2;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}